.cars {
    align-items: center;
    display: flex;
    justify-content: center;


}

.carsDiv {
    width: 80%;
    height: 100%;
    background-color: black;
}

.contianer {
    align-items: center;
    justify-content: center;
    background-color: rgb(155, 155, 155);
    height: 100%;

    border-radius: 10px;
}

.row {
    height: 100%;

}

.generalDiv {
    width: 100%;
    min-height: 200px;

    border-radius: 10px;
}

.addCarDiv {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.addButton{
    width: 100px;
    height: 60%;
}