



.generalDiv {
    width: 100%;
    min-height: 200px;

    border-radius: 10px;
}

.addCarDiv {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.addButton{
    width: 100px;
    height: 60%;
}