.struct {
   
    display: flex;
    justify-content: center;
   min-height: 800px;
   margin-top: 20px;
}

.row {
    height: 100%;
}

.generalDiv {
    width: 100%;
    min-height: 200px;

    border-radius: 10px;
}