/* Kutunun kendisi */
.car-card {
    display: flex;
    background-color: #ffffff;
    border-radius: 12px;
    overflow: hidden; /* Resim kenarlardan taşmasın */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05); /* Çok hafif gölge */
    margin-bottom: 25px; /* Kartlar arası boşluk */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 180px; /* Sabit yükseklik */
    border: 1px solid #e0e0e0;
}


.car-card:hover {
  
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.car-info {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.car-title {
    font-size: 20px;
    font-weight: 700;
    color: #333;
    margin: 0;
}


.car-tags {
    display: flex;
    gap: 10px;
    margin-top: 20px;


}

.tag {
    background-color: #f0f0f0;
    color: #666;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}


.car-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-size: 22px;
    font-weight: bold;
    color: #764ba2; /* Senin temanın mor rengi */
}

.detail-btn {
    background-color: #333;
    color: white;
    padding: 8px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s;
}

.detail-btn:hover {
    background-color: #764ba2;
}
.addButton{
    height: 35px;
}